/*-- Ready Buyer One */
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 10px;
}

header {
  background: url(images/bg.jpg) no-repeat center center;
  background-size: cover;
  height: 800px;
  text-align: center;
}

header .container {
  position: relative;
  top: 200px;
}

header h1 {
  color: #fff;
  line-height: 100px;
  font-size: 80px;
  margin: 0 0 80px;
  text-transform: uppercase;
}

header p {
  color: #fff;
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: 8px;
  margin: 40px 0 60px;
  text-transform: uppercase;
}

header .btn {
  color: #fff;
  background: #00deee;
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 10px 40px;
  transition: background .5s;
  border-radius:50px;
}

header .btn:hover {
  background: #117bff;
  cursor: pointer;
  transition: background .5s;
}

nav {
  background-image: linear-gradient(to bottom, #000000, #ff0000);
}

nav ul {
  height: 80px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

nav li {
  display: inline-block;
  color: #fff;
  font-size: 1.1em;
  line-height: 80px;
  padding: 0 10px;
  transition: background .5s;
}

nav li:hover {
  background: #ff0000;
  cursor: pointer;
  transition: background .5s;
}

.supporting {
  margin: 50px auto 60px;
}

.supporting img {
  margin-top: 0px;
  width: 100%;
}

.supporting h1 {
  margin-bottom: 20px;
}

.supporting p {
  font-weight: 300;
  font-size: 1.1em;
}

/* Jumbotron */
.jumbotron {
  background: url(images/community_bg.jpg) no-repeat center center;
  background-size: cover;
  height: 600px;
  text-align: right;
}

.jumbotron .container {
  position: relative;
  top: 220px;
}

.jumbotron h2 {
  color: #ffffff;
}

.jumbotron p {
  color: #ffffff;
  font-size: 1.6em;
}

.jumbotron .btn {
  color: #ffffff;
  background: #000;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 10px 40px;
  transition: background .5s;
}

.jumbotron .btn:hover {
  background: #ff0000;
  cursor: pointer;
  transition: background .5s;
}

footer {
  clear: both;
  background-color: #000;
  color: #fff;
  margin-top: -30px;
  padding: 30px 0;
  font-size: 1.0em;
}

/* Media Queries */

@media (min-width:960px) {
  header h1 {
    font-size: 120px;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 50px;
    line-height: 64px;
  }

  .main, .jumbotron {
    padding: 0 30px;
  }

  .main img {
    width: 100%;
  }
}
